* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color:red;       
}

.heading{
 display: flex; 
 justify-content:space-evenly; 
 position: sticky;
  top: 0;           /* Sticks the element to the very top */
  z-index: 1000;  
  background: goldenrod;
}

#meals{
  padding: 40px;
  width: 1000px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
#meals li{
  /* background-color: transparent; */
  margin: 18px 18px;
  padding: 10px;
  width: 270px;
  list-style-type: none;
  margin-top: 10px;
  border: 3px solid #fff;
  box-shadow: 7px 10px 5px #000 ;
  border-radius: 5px;
}
.card-main-section{
  margin-top: 40px;
}

.modal{
  padding: 40px;
}

.qnty-btn{
  padding: 5px;
}
li{
  list-style-type: none;
}